DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
venv/
venv*
.venv
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/

htmlcov/
.coverage
.coverage.*
*,cover
config/config.json
db/app.db
logs/
.DS_Store
app/.DS_Store
app/static/.DS_Store
app/static/img/.DS_Store
app/templates/.DS_Store

postgres-data/