{% extends "base.html" %}
{% block content %}
<div class="container">
  <section>
    <h1>Create Case</h1>
    <p>Note: All indicators must be seperated by a comma.</p>
    <p>Once a case is active, indicators will be checked every 1 hour.
    <p>If new activity is found on a given indicator, you will be notified by in the Hound slack channel.</p>
  </section>
  <section id="create" class="contact-section">
    <form action="" method="post">
      {{ form.hidden_tag() }}
      {% for field in form %}
        {% if field.name != 'csrf_token' and field.type == "TextAreaField"%}
          <p>
            {{ field.label() }} <br>
            {{ field(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter "+field.name+"...") }}
            {% for error in field.errors %}
              <div class="error">{{ error }}</div>
            {% endfor %}
          </p>
        {% endif %}
      {% endfor %}
      <p>
      {% for field in form %}
        {% if field.name != 'csrf_token' and field.type == "BooleanField"%}
          {{ field.label() }}
          {{ field }}
          |
          {% for error in field.errors %}
            <div class="error">{{ error }}</div>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </p>
    <p>{{ form.submit(class="btn btn-primary mx-auto")}}</p>
    </form>
  </section>
</div>
<script src="/static/js/formvalidate.js"></script>
{% endblock %}