{% extends "base.html" %}
{% block content %}
<!-- 
<div class="container">
  <section>
    <h1>Create Case</h1>
    <p>Note: All indicators must be seperated by a comma.</p>
    <p>Once a case is active, indicators will be checked every 1 hour.
    <p>If new activity is found on a given indicator, you will be notified by in the Hound slack channel.</p>
  </section>
  <section>
    <form action="" method="post">
      {{ form.hidden_tag() }}
      <p>
        {{ form.casename.label }}<br>
        {{ form.casename(class="form-control form-control-small", placeholder="Enter Case Name...") }}
        {% for error in form.casename.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
       <button type="button" class="collapsible">{{ form.slackwebhook.label }}</button>
      <div class="tablecontent">
        <p>{{ form.slackwebhook(class="form-control form-control-small", placeholder="If empty, default Hound Channel will be used") }}</p>
      </div>
      <button type="button" class="collapsible">{{ form.names.label }}</button>
      <div class="tablecontent">
        <p>{{ form.names(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter keywords...") }}</p>
      </div>
      <button type="button" class="collapsible">{{ form.usernames.label }}</button>
      <div class="tablecontent">
        <p>{{ form.usernames(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter keywords...") }}</p>
      </div>
      <button type="button" class="collapsible">{{ form.userids.label }}</button>
      <div class="tablecontent">
        <p>{{ form.userids(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter keywords...") }}</p>
      </div>
      <button type="button" class="collapsible">{{ form.emails.label }}</button>
      <div class="tablecontent">
        <p>{{ form.emails(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter keywords...") }}</p>
      </div>
      <button type="button" class="collapsible">{{ form.phones.label }}</button>
      <div class="tablecontent">
        <p>{{ form.phones(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter keywords...") }}</p>
      </div>
      <button type="button" class="collapsible">{{ form.ips.label }}</button>
      <div class="tablecontent">
        <p>{{ form.ips(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter keywords...") }}</p>
      </div>
      <button type="button" class="collapsible">{{ form.keywords.label }}</button>
      <div class="tablecontent">
        <p>{{ form.keywords(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter keywords...") }}</p>
      </div>
      <p>
        {{ form.flashpoint() }} {{ form.flashpoint.label }}
        {{ form.postgres() }} {{ form.postgres.label }}
      </p>
      <p>{{ form.submit(class="btn btn-primary mx-auto")}}</p>
    </form>
  </section>
</div> -->

<div class="container">
  <section>
    <h1>Create Case</h1>
    <p>Note: All indicators must be seperated by a comma.</p>
    <p>Once a case is active, indicators will be checked every 1 hour.
    <p>If new activity is found on a given indicator, you will be notified by in the Hound slack channel.</p>
  </section>
  <section id="create" class="contact-section">
    <form action="" method="post">
      {{ form.hidden_tag() }}
      <p>
        {{ form.casename.label }}<br>
        {{ form.casename(class="form-control form-control-small", placeholder="Enter Case Name...") }}
        {% for error in form.casename.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.slackwebhook.label }}<br>
        {{ form.slackwebhook(class="form-control form-control-small", placeholder="If empty, default Hound Channel will be used") }}
      </p>
      <p>
        {{ form.names.label }}<br>
        {{ form.names(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter first name last name...") }}
      </p>
      <p>
        {{ form.usernames.label }}<br>
        {{ form.usernames(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter usernames...") }}
      </p>
      <p>
        {{ form.userids.label }}<br>
        {{ form.userids(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter userids...") }}
      </p>
      <p>
        {{ form.emails.label }}<br>
        {{ form.emails(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter emails...") }}
      </p>
      <p>
        {{ form.phones.label }}<br>
        {{ form.phones(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter phone numbers...") }}
      </p>
      <p>
        {{ form.ips.label }}<br>
        {{ form.ips(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter IP addresses...") }}
      </p>
      <p>
        {{ form.domains.label }}<br>
        {{ form.domains(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter Domains...") }}
      </p>
      <p>
        {{ form.urls.label }}<br>
        {{ form.urls(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter Urls...") }}
      </p>
      <p>
        {{ form.btcaddresses.label }}<br>
        {{ form.btcaddresses(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter Bitcoin Addresses...") }}
      </p>
      <p>
        {{ form.sha256.label }}<br>
        {{ form.sha256(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter Sha256...") }}
      </p>
      <p>
        {{ form.sha1.label }}<br>
        {{ form.sha1(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter Sha1...") }}
      </p>
      <p>
        {{ form.md5.label }}<br>
        {{ form.md5(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter md5...") }}
      </p>
      <p>
        {{ form.filenames.label }}<br>
        {{ form.filenames(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter Filenames...") }}
      </p>
      <p>
        {{ form.keywords.label }}<br>
        {{ form.keywords(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter keywords...") }}
      </p>
      <p>
        {{ form.flashpoint() }} {{ form.flashpoint.label }}
        {{ form.crowdstrike() }} {{ form.crowdstrike.label }}
        {{ form.postgres() }} {{ form.postgres.label }}
      </p>
      <p>{{ form.submit(class="btn btn-primary mx-auto")}}</p>
    </form>
  </section>
</div>

<!-- <div class="container">
  <form action="" method="post">
    <button type="button" class="collapsible"><label>Personal</label></button>
    <div class="tablecontent">
      <p>
        {{ form.names.label }}<br>
        {{ form.names(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter first name last name...") }}
      </p>
      <p>
        {{ form.usernames.label }}<br>
        {{ form.usernames(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter usernames...") }}
      </p>
      <p>
        {{ form.userids.label }}<br>
        {{ form.userids(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter userids...") }}
      </p>
      <p>
        {{ form.emails.label }}<br>
        {{ form.emails(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter emails...") }}
      </p>
      <p>
        {{ form.phones.label }}<br>
        {{ form.phones(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter phone numbers...") }}
      </p>
    </div>
    <button type="button" class="collapsible"><label>Infrastructure</label></button>
    <div class="tablecontent">
      <p>
        {{ form.ips.label }}<br>
        {{ form.ips(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter IP addresses...") }}
      </p>
      <p>
        {{ form.domains.label }}<br>
        {{ form.domains(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter Domains...") }}
      </p>
      <p>
        {{ form.urls.label }}<br>
        {{ form.urls(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter Urls...") }}
      </p>
    </div>
    <button type="button" class="collapsible"><label>Malware</label></button>
    <div class="tablecontent">
      <p>
        {{ form.sha256.label }}<br>
        {{ form.sha256(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter Sha256...") }}
      </p>
      <p>
        {{ form.sha1.label }}<br>
        {{ form.sha1(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter Sha1...") }}
      </p>
      <p>
        {{ form.md5.label }}<br>
        {{ form.md5(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter md5...") }}
      </p>
      <p>
        {{ form.filenames.label }}<br>
        {{ form.filenames(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter Filenames...") }}
      </p>
    </div>
    <button type="button" class="collapsible"><label>Other</label></button>
    <div class="tablecontent">
      <p>
        {{ form.btcaddresses.label }}<br>
        {{ form.btcaddresses(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter Bitcoin Addresses...") }}
      </p>
      <p>
        {{ form.keywords.label }}<br>
        {{ form.keywords(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Enter keywords...") }}
      </p>
    </div>
  </form>
</div> -->

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var tablecontent = this.nextElementSibling;
    if (tablecontent.style.display === "block") {
      tablecontent.style.display = "none";
    } else {
      tablecontent.style.display = "block";
    }
  });
}
</script>

<!-- <script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var tablecontent = this.nextElementSibling;
    if (tablecontent.style.maxHeight){
      tablecontent.style.maxHeight = null;
    } else {
      tablecontent.style.maxHeight = tablecontent.scrollHeight + "px";
    } 
  });
}
</script>
 -->{% endblock %}